<%- include('../includes/navBarAdmin.ejs') %>

  <%if(msg){%>
  <div class="alert alert-success" role="alert">
    <%= text %>
  </div>
  <% } %>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <form
        id="form-horizontal"
        method="POST"
        encType="multipart/form-data"
        action="/admin/administrarLibro/<%if(update){%>update<%}%>"
      >
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label"
            >Titulo</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="nombreLibro"
              value="<%if(update){%><%=libro.nombreLibro%><%}%>"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Año</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="annoEdicion"
              value="<%if(update){%><%=libro.annoEdicion%><%}%>"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Autor</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="nombreAutor"
              value="<%if(update){%><%=libro.nombreAutor%><%}%>"
            />
          </div>
        </div>

        <div class="mb-3">
          <div class="input-group is-invalid">
            <div class="input-group-prepend">
              <label class="input-group-text" for="validatedInputGroupSelect"
                >Options</label
              >
            </div>
            <select
              class="custom-select"
              id="tipoUsuario"
              name="nombreCategoria"
              required
            >
              <%categorias.map( categoria => {%>
              <option><%=categoria.nombreCategoria%></option>
              <%})%>
            </select>
          </div>
          <div class="invalid-feedback">
            Example invalid input group feedback
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label"
            >Nombre Editorial</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="nombreEditorial"
              value="<%if(update){%><%=libro.nombreEditorial%><%}%>"
            />
          </div>
        </div>

        <div class="input-group row">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="validatedInputGroupCustomFile"
              name="img"
              required
            />
            <label class="custom-file-label" for="validatedInputGroupCustomFile"
              >Imagen</label
            >
          </div>
        </div>
 

        <div class="input-group row">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="validatedInputGroupCustomFile"
              name="pdf"
              required
            />
            <label
              class="custom-file-label"
              for="validatedInputGroupCustomFile"
            >
              Archivo Pdf</label
            >
          </div>
        </div>

        <input
          type="hidden"
          name="idLibro"
          value="<%if(update){%><%=libro.idLibro%><%}%>"
        />

        <button type="submit" class="btn btn-primary">
          <%if(update){%>Actualizar<%} else {%>Nuevo Libro<%}%>
        </button>
        <a href="/admin/administrarLibros/" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </div>

<%- include('../includes/footerPage.ejs') %>
